<div id="footer_wrap" class="outer">
    <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% else %}
        <p class="copyright">{{ site.title }} maintained by <a href="https://github.com/oliverandcode">oliverandcode</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
    </footer>
</div>

