<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">


<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">

<!-- w3schools mobile menu -->
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- styles -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/font-awesome.min.css">

<link rel="stylesheet" href="{{ site.url }}/assets/css/normalize.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/nprogress.css">

<!-- the following makes the font nicer but breaks the responsive mobile -->
<!-- commented out all @media in the following to cancel out aforesaid problem -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/foundation.min.css">


{% seo %}
