<div class="notepad-site-head-menu">

    <!-- logo -->
    <a class="notepad-blog-logo" href="{{ site.url }}"><img src="{{ site.header_logo }}" alt="Blog Logo" /></a>
    
    
    <div class="notepad-blog-menu">


        <div class="topnav" id="mobile-menu">
            <a href="{{ site.url }}" class="active">home</a>
            <a href="{{ site.url }}/episodes">episodes</a>
            <a href="{{ site.url }}/about">about</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
        </div>


    </div>

    <!-- what is this? -->
    <div class="clearfix"></div>

</div>
