.image-column {
    float: left;
    width: 50%;
}

.text-column {
    float: right;
    width: 50%;
    margin-top: 7px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/* .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    max-width: 33%;
} */