<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

  <head>
    {% include head.html %}
  </head>

  <body>

    {% include header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

        <h2>{{ page.episode_title }}</h2>

        <h4>

            with 
            {% assign num_voices = page.voices.size %}
            {% assign last_index = num_voices | minus: 1 %}
            {% assign last_voice = page.voices[last_index] %}
  
            {% if num_voices > 2 %}
              {% for voice in page.voices %}
                {% unless voice == last_voice %}
                  {{ voice }}, 
                {% endunless %}
              {% endfor %}
              and {{ last_voice }}
            {% elsif num_voices > 1 %}
              {{ page.voices[0] }} and {{ last_voice }}
            {% else %}
              {% for voice in page.voices %}
                {{ voice }}
              {% endfor %}
            {% endif %}  

        </h4>

        <h4>
            on
            <span class="entry-date">
              <time datetime="{{ page.date | date_to_xmlschema }}">
                {{ page.date | date: "%B %d, %Y" }}
              </time>
            </span>
        </h4>

        <audio controls>
          <source src="{{ page.mp3_link }}" type="audio/mpeg">
            Browser not supported!
        </audio>


        {{ content }}

        <hr />

        <p>We want to hear from YOU! Email us at <a href="mailto:{{ site.podcast_email }}">{{ site.podcast_email }}</a> with your story! Let us know if you want us to feature you on the show!</p>

      </section>
    </div>

    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
